<ion-view title="Extend Parking" id="page3">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<form id="extendParking-form15" class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					Plate number
				</div>
				<select ng-model="myCar.model">
						<option ng-repeat="car in myCar" ng-selected="{{car.primary}}">{{car.plateno}}</option>
					</select>
			</label>
			<label class="item item-input" id="extendParking-input11">
        <span class="input-label">Add Time</span>
        <input type="number" placeholder="00" ng-model="parking.time" ng-init="parking.time=1">
      </label>
			<label class="item item-input" id="extendParking-input14">
        <span class="input-label">Total</span>
        <p type="number">RM {{parking.time*2.4 | number:2}}</p>
      </label>
			<label class="item item-input item-select">
					<div class="input-label">
						Payment Method
					</div>
					<select>
						<option>Bank Account</option>
						<option>Credit Card</option>
					</select>
				</label>
		</form>
		<a id="extendParking-button4" class="button button-positive  button-block">Submit</a>
	</ion-content>
</ion-view>