<ion-view title="Login" id="page6">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="login-form17" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input15">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="acc.email">
        </label>
        <label class="item item-input" id="login-input16">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="acc.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button6" class="button button-stable  button-block" ng-click="tryLogin(acc.email,acc.password)">Log in</button>
      <a href="#/app/signup" id="login-button7" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>