<ion-view title="Login" id="page6">
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-information-circled" ui-sref="app.newParking"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<div class="list card text-center" id="nfc-card21">
			<ion-item id="nfc-list-item16">Tap NFC to login</ion-item>
			<div class=" item item-image">
				<img src="img/musmdOzURWqjr1lSKbJF_nfc.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
			</div>
		</div>
	</ion-content>
</ion-view>