<ion-view title="My Car" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="myCar-list4">
      <ion-item id="myCar-list-item12">WWW 8888
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <ion-item id="myCar-list-item13">AKB 2048
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="myCar-button5" class="button button-positive  button-block">Add new</button>
  </ion-content>
</ion-view>