<ion-view title="My Car" id="page4">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right" class="has-header">
    <button class="button button-dark icon ion-android-refresh" ng-click="getCar()"></button>
  </ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<label class="item item-input item-select">
    <div class="input-label">
      Default Car
    </div>
    <select ng-model="myCar.model">
						<option ng-repeat="car in myCar" ng-selected="{{car.primary}}">{{car.plateno}}</option>
		</select>
		</label>
		<div class="item item-divider">
			My Cars
		</div>
		<ion-list id="myCar-list4">
			<ion-item ng-repeat="car in myCar">{{car.plateno}}
				<ion-option-button class="button-assertive">Remove</ion-option-button>
			</ion-item>
		</ion-list>
		<button id="myCar-button5" class="button button-positive  button-block" ui-sref="app.nfc">Add new</button>
	</ion-content>
</ion-view>