<ion-view title="My Profile" id="page2">
	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
		<div class="item item-divider">
			Account Details
		</div>
    <ion-list id="myProfile-list2">
      <ion-item id="myProfile-list-item9">Name
        <span class="item-note">Demo</span>
      </ion-item>
      <ion-item id="myProfile-list-item10">Email
        <span class="item-note">demo@demo.com</span>
      </ion-item>
      <ion-item id="myProfile-list-item11">Nationality
        <span class="item-note">Malaysia</span>
      </ion-item>
    </ion-list>
		<ion-list id="myProfile-list3">
      <ion-item id="myProfile-list-item19">Driver license
        <span class="item-note">DL2020764</span>
      </ion-item>
    </ion-list>
		<div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="myProfile-form14" class="list">
			<div class="item item-divider">
				Contact Details
			</div>
      <label class="item item-input" id="myProfile-input12">
        <span class="input-label">Phone number</span>
        <input type="tel" placeholder="+60123456789">
      </label>
    </form>
  </ion-content>
</ion-view>