<ion-view title="Add new car" id="page5">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card text-center" id="nfc-card21">
      <ion-item id="nfc-list-item16">Tap NFC to proceed</ion-item>
      <div class=" item item-image">
        <img src="img/musmdOzURWqjr1lSKbJF_nfc.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <!--<div ng-if="!tag.id">
            <div class="card">
                <div class="item item-text-wrap center">
                    Scan a tag to being.
                </div>
            </div>
        </div>-->
        <div ng-if="tag.id">
            <div class="card">
                <div class="item item-text-wrap">
                    <dl>
                        <dt>Tag Id</dt>
                        <dd>{{ tag.id | bytesToHexString }}</dd>
                    </dl>
                </div>
            </div>

        </div>
  </ion-content>
</ion-view>